<html>
<head>
	<title>APLIS Weather</title>
	<link rel="stylesheet"
          href="{{ url_for('static', _external=True, filename='css/normalize.css') }}"
		type="text/css" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', _external=True, filename='css/main.css') }}"
		type="text/css" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', _external=True, filename='css/style.css') }}"
		type="text/css" media="screen">
</head>
<body>
<div class="header">
	<h1>APLIS Weather</h1>
</div>
<hr/>
<div class="main">
	<table id="status" class="bordered">
		<thead>
			<tr>
				<th>Time</th>
				<th>Air Temp/Wind Chill</th>
				<th>RH</th>
				<th>Pressure</th>
				<th>Wind Speed</th>
				<th>Gust</th>
				<th>Wind Dir</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="timestamp"></td>
				<td><span id="ftemp"></span>/<span id="fwc"></span></td>
				<td><span id="rh"></span></td>
				<td id="bp"></td>
				<td id="awspd"></td>
				<td id="gust"></td>
				<td id="awdr"></td>
			</tr>
		</tbody>
	</table>
	<hr/>
	<div id="lineplot" style="width:800px;height:400px;">No data available</div>
</div>
<div class="footer"></div>
</body>
<script>
  var require = {baseUrl: "static/js"};
</script>
<script src="{{ url_for('static', _external=True, filename='js/lib/require.js') }}"></script>
<script type="text/javascript">
  // Ensure that the require.js configuration is loaded before we try to
  // load any modules.
  require(["{{ url_for('static', _external=True, filename='js/wx-main.js')}}"],
    function() {
        require(["jquery", "app"], function($, app) {

            $(document).ready(function() {
                  var plots = [{
                                 name: "ftemp",
                                 yAxis: 0,
                                 color: "#4B6E02"
                               },{
                                 name: "awspd",
                                 yAxis: 1,
                                 color: "#D91D18"
                               },{
                                 name: "bp",
                                 yAxis: 2,
                                 color: "#0957B3"
                               }];
             app.initialize("{{ url_for('history', _external=True) }}",
                            "{{ url_for('stream', _external=True) }}",
                            "lineplot", plots, 1440);
         });
      });
  });
</script>
</html>
